<html>
<head>
    <meta name="theme-color" content="#5aaafa">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <link href='https://www.mapbox.com/base/latest/base.css' rel='stylesheet' />
    <link rel="stylesheet" href="css/master.css">
    <link rel="stylesheet" href="css/vis.min.css">
    <link rel="stylesheet" href="css/sxsw.css">
    <script>
        var webSocketProtocol = '<%= webSocketProtocol %>';
        var clientId = '<%= clientId%>';
    </script>
</head>

<body>

<div id='app'>
    <div id="convo-section" class='sidebar'>
        <div class='center'> <h2> Talk with Watson </h2> </div>
        <div class='sidebar-inner'>
            <form class="form" onsubmit="return false;">
                <fieldset class="form_field">
                    <input id="message" aria-label="What's cool at SxSW..." class="input_text" type="text" autocomplete="off" name="message" v-model="message" :disabled="! webSocketConnected" placeholder="What's cool at SxSW..." v-on:keyup.enter="submitMessage">
                </fieldset>
            </form>
            <div class="chat-message" v-for="msg in messages">
                <div class="msg-body" v-bind:style="msg.msgStyle">
                    <div v-bind:style="msg.userStyle" class="msg-user" v-html="msg.user"></div>
                    <div class="msg-chat bubble" v-bind:class="[msg.isUser ? 'userBubble' : '']">
                        <chat-message :key="msg.key" :msg="msg"></chat-message>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="js/vis-4.5.0.min.js"></script>
<script src="js/vue-2.1.8.min.js"></script>
<script src="js/vue-resource-1.0.3.min.js"></script>
<script src="js/chat.js"></script>

</body>
</html>