<html>
<head>
    <meta name="theme-color" content="#5aaafa">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/master.css">
    <link rel="stylesheet" href="css/vis.min.css">
    <link rel="stylesheet" href="css/sxsw.css">
    <script>
        var events = <%- eventJson %>;
        var mapboxAccessToken = '<%= mapboxAccessToken%>';
    </script>
</head>
<body>

    <header class="capped-layout_cap col12 contain z1 app-banner">
        <!-- img src="img/ibm_glyph.png" id="watson_glyph" --> 
        <img src="img/Watson_Avatar_Rev_RGB.png" id="watson_avatar_banner">
        <span class="app-banner-title">SxSW Events</span>
    </header>

    <div id="app">
        <% for (let event of events) { %>
        <div class="event">
            <div class="event-title"><%= event.name %></div>
            <div class="eventDescription"><%= event.description %></div>
        </span>
        <% } %>
    </div>

<script src="js/vis-4.5.0.min.js"></script>
<script src="js/vue-2.1.8.min.js"></script>
<script src="js/vue-resource-1.0.3.min.js"></script>
<script src="js/eventList.js"></script>

</body>
</html>