<html>
<head>

    <meta name="theme-color" content="#5aaafa">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <link href='https://www.mapbox.com/base/latest/base.css' rel='stylesheet' />
    <link rel="stylesheet" href="css/master.css">
    <link rel="stylesheet" href="css/vis.min.css">
    <link rel="stylesheet" href="css/sxsw.css">
    <link rel="stylesheet" href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.32.1/mapbox-gl.css">
    <script>
        var events = <%- eventJson %>;
        var mapboxAccessToken = '<%= mapboxAccessToken%>';
    </script>
</head>
<body>

<header class="col12 contain">
    <div class="app-banner col12">
        <img src="img/Watson_Avatar_Rev_RGB.png" id="watson_avatar_banner">
        <div id="app-banner-title">
            <div id="app-banner-title-head">SXSW personal<span class="cursor"></span></div>
            <div id="app-banner-title-subhead">by IBM Watson</div>
        </div>
    </div>
    <div class="no-mobile-hide session-alt col12">
        <div class="mobile-btn mapchat-btn mobile-show" id="showchatbtn" onclick="mapToggle()">Chat</div>
    </div>
</header>
<div id="container" class="container">
    <div class='map mobile-show' id='map'>
        <div id="opensource-section">
            <a href="https://github.com/ibm-cds-labs/cognitive-event-finder" target="_wdpgh">
                <img src="img/GitHub-Mark-Light-32px.png" alt="github mark" id="ghmark">
                This app is open source. Improve it with us on GitHub.</a>
        </div>
    </div>
</div>

<script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.32.1/mapbox-gl.js"></script>
<script src='https://npmcdn.com/@turf/turf/turf.min.js'></script>
<script src="js/vis-4.5.0.min.js"></script>
<script src="js/vue-2.1.8.min.js"></script>
<script src="js/vue-resource-1.0.3.min.js"></script>
<script src="js/eventList.js"></script>

</body>
</html>