.map {
    flex-grow: 1;
    width: auto;
    background: #eee;
}

.container {
    display: flex;
    height: calc(100% - 75px);
    top: 74px;
}

.mapboxgl-popup {
    max-width: 396px;
    z-index: 5;
}

.popup-title {
    font-weight: 500;
    font-size: 12pt;
}

.popup-image {
    height: 76px;
    float: left;
    padding: 4px 6px 0px 0px;
}

.app-banner {
    /*background-image: url(../img/walnut_vert.jpg);*/
    background-size: 15%;
    align-self: center;
    background-position: right;
    background-color: #000;
    border-bottom: 1px solid white;
    color: #FFF;
    padding-left: 24px;
    height: 75px;
    position: absolute;
}

.app-banner-title {
    font-size: 36px;
    font-weight: 700;
}

#watson_avatar_banner {
    max-height: 48px;
    padding: 0 8px 0 0;
}

#watson_glyph {
    float: right;
    height: 48px;
}


/* Dark attribution */

.mapboxgl-ctrl.mapboxgl-ctrl-attrib {
    background-color: rgba(0, 0, 0, 0.5);
}

.mapboxgl-ctrl.mapboxgl-ctrl-attrib a {
    color: #fff;
}


a {
    color: #404040;
    text-decoration: underline !important;
}
a:hover, a:active {
    color: #000;
}

.mapboxgl-popup-content {
    z-index: 2;
}

.banner-image {
    position: absolute;
    right: 0;
}

body,
html {
    font-family: 'Helvetica Neue', 'Helvetica', sans-serif !important;
    color: #404040;
    background-color: rgba(0, 0, 0, 0.75) !important;
    margin: 0;
    padding: 0;
}


.right-fit-flex {
    flex-direction: row-reverse;
}

.center {
    margin: auto;
}

.sidebar {
    flex-grow: 1;
    flex-shrink: 1;
    font-size: 10pt;
    padding: 12px;
    background-color: rgba(255, 255, 255, 0.85);
    width: 320px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    border: 3px;
}

.sidebar-inner {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    flex-direction: column;
    flex-grow: 1;
}

.sidebar-inner .flex-scroll {
    overflow-y: scroll;
    min-height: 0;
    -webkit-box-flex: 1;
    flex: 1;
}


/* Mobile rules */

@media screen and (max-width: 640px) {
    .container {
        flex-direction: column;
    }
    .sidebar {
        flex-shrink: 1;
        height: 33vh;
        order: 2;
        width: 100%;
    }
    .map {
        order: 1;
    }
}

#message {
    display: initial;
    max-width: 85%;
}

.msg-user,
.msg-chat {
    display: inline-block;
    vertical-align: top;
}

.msg-user {
    padding: 0px 12px 0px 0px;
    font-weight: 700;
    width: 40px;
    text-align: center;
}

.msg-chat {
    max-width: 90%;
}

.msg-chat ul {
    list-style: initial;
    padding-left: 2em;
}

.chat-message {
    margin-top: 8px;
}

.event {
    margin-top: 5px;
    color: #fff;
}

.event-title {
    margin: 5px;
    padding: 5px;
    font-weight: bold;
    color: white;
}

.event-description {
    margin: 5px;
    font-style: italic;
}

#sendmessage {
    padding: 0 1.5em;
}

.textme {
    font-weight: 700;
}

#opensource-section {
    position: absolute;
    bottom: 6px;
    left: 6px;
    font-size: 9pt;
    font-weight: 500;
    z-index: 1;
    background-color: rgba(36, 36, 36, 0.55);
    border-radius: 8px;
    padding: 4px 8px 4px 8px;
}

#opensource-section a {
    color: #fff;
    text-decoration: initial;
}

#ghmark {
    float: left;
    padding: 4px 4px 12px 4px;
}