#map {
      position:absolute;
      width:100%;
      top:70px; /* Equals the height of the header */
      bottom:0;
      left:0;
}
.mapboxgl-popup {
    max-width: 396px;
}
.popup-title {
    color: #56A8FD;
    font-weight: 500;
    font-size: 12pt;
}
.popup-image {
    height: 84px;
    float: left;
    padding: 2px 4px 4px 0px;
    border-radius: 12px 0 12px 0;
}
.app-banner {
    background-color: rgba(0,0,0,0.75);
    font: normal normal 700 32px 'Roboto', sans-serif;;
    color: #FFF;
}

/* Dark attribution */
.mapboxgl-ctrl.mapboxgl-ctrl-attrib { background-color:rgba(0,0,0,0.5); }
.mapboxgl-ctrl.mapboxgl-ctrl-attrib a { color:#fff; }

/* Dark popup */
.mapboxgl-popup-content {
  background-color:#202020;
  color:#fff;
  }
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip { border-top-color:#202020; }
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top .mapboxgl-popup-tip { border-bottom-color:#202020; }
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip { border-left-color:#202020; }
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip { border-right-color:#202020; }

.banner-image {
    position: absolute;
    right:0;
}

body,html {
    font-family: 'Roboto', sans-serif;
    background-color: rgba(0,0,0,0.75) !important;
    margin:0; 
    padding:0;
}

#convo-section {
    position: absolute;
    top: 90px;
    right: 24px;
    font-size: 9pt;
    padding: 12px;
    z-index: 9;
    height: 275px;
    width: 512px;
    background-color: rgba(255,255,255,0.85);
    border-radius: 12px;
    border: 6px solid #DD1F80;
    overflow-y: auto;
}

#message {
    display: initial;
    width: 85%;
}

.mapboxgl-ctrl-directions {
    height: 500px;
}

.msg-user, .msg-chat {
    display: inline-block;
    vertical-align: top;
}
.msg-user {
    padding: 0px 12px 0px 0px;
    font-weight: 700;
    width: 40px;
    text-align: center;
}
.msg-chat {
    width: 90%;
}
.msg-chat ul {
    list-style: initial;
    padding-left: 2em;
}
.chat-message {
    margin-top: 8px;
}

#sendmessage {
    padding: 0 1.5em;
}
.textme {
    font-weight: 700;
}

#opensource-section {
    position: absolute;
    bottom: 36px;
    left: 10px;
    font-size: 9pt;
    font-weight: 900;
    z-index: 4;
    height: 48px;
    width: 212px;
    background-color: rgba(55,55,55,0.55);
    border-radius: 12px;
    border: 2px solid #666;
    line-height: normal;
    padding-top: 4px;
}
#opensource-section a {
    color: #fff;
}

#ghmark {
    float: left;
    padding: 4px 4px 12px 4px;
}